<%- include('./partials/head', {title:"Mensaje"}) %>


<% if (locals.userLogin) { %>
  <%- include('./partials/colorBody') %> 
<% } else{ %>
  <body class="index_body">
<% } %>

    <header class="index_header">
      <h1>SECCION & COOKIES</h1>
    </header>
    <main class="index_main">
      <section class="index_section">
        <h1 class="" >  MENSAJE AGRADECIMIENTO</h1>
        <p class="mensaje">
          <%= locals.userLogin.nombre %> gracias por visitarnos !! 
        </p>
        <div class="button_cont">
          <a class="Boton" href="/">Salir</a>
        </div>
      </section>
    </main>

  </body>
</html>
