
.index_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.index_body-red{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: red;
}

.index_body-blue{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blue;
}

.index_body-green{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: green;
}

.index_body-yellow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: yellow;
}



.index_header{
    width: 95%;
    height: 50px;
    background-color: rgba(71, 187, 152, 0.493);
    box-shadow: 0px 10px 10px rgb(71, 70, 70);
}

.index_header h1{
    text-align: center;
    font-size: 25px;
    color: rgba(175, 51, 29, 0.61);
    
}


.mensaje{
    font-size: 18px;
    text-align: center;
}

.index_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    margin-top: 55px;
    background-color: rgba(255, 255, 255, 0.4);



}

.index_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 15px;
    margin: 20px;
    box-shadow: 
        0px 0px 10px black,
        0px 0px 30px black;
    background-color: white;
    border-radius: 15px 0 15px 0;

}




.index_section h1{
    text-align: center;
    text-transform: uppercase;
    color: rgba(15, 116, 24, 0.61);
}

.form_cont{
    padding: 10px 0;
    margin: 3px 0;

}

.form_input{
    width: 100%;
    height: 30px;
    margin-right: 10px;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    font-size: 22px;

}

.form_edad{
    width: 50px;
    text-align: center;
    font-size: 16px;
}

.alert{
    color: red;
}

.button_cont{
    text-align: center;
    background-color: none;
}

.Boton{
    background-color: rgb(54, 3, 41);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
   
}

.Boton:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;

}
.label{
    text-transform: uppercase;
    color: rgba(33, 4, 99, 0.61);
    font-weight: 600;
}
.label-load{
    color: rgba(29, 2, 20, 0.61);
    font-weight: 600;

}